.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #fed000;
  background-color: black;
  color: #fed000;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.nav-links:hover {
  transform: scale(1.2);
}

