.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
}

.nav-links {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #00d9ff;
  background-color: black;
  color: #00d9ff;
  margin: 1rem 0;
}

.nav-links:hover {
  border: 1px solid black;
  background-color: #00d9ff;
  color: black;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: .5rem;
}

.movie-card h1 {
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}